/* src/index.css */

@import "tailwindcss"; /* موجود لديك */

/* 👇 قم بإضافة هذا الكود */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}